In [2]:
import numpy as np
import pandas as pd
working_dir = '~/Project/pred-future-sales'

In [3]:
train_test = pd.read_csv(working_dir + '/data/interim/train_test.csv')

In [4]:
train_test.head(5)

,date_block_num,shop_id,item_id,item_cnt_month,city_code,item_category_id,type_code,subtype_code,item_cnt_month_lag_1,item_cnt_month_lag_2,...,item_cnt_month_category_avg_lag_12,item_cnt_month_type_avg_lag_1,item_cnt_month_subtype_avg_lag_1,item_cnt_month_city_avg_lag_1,item_cnt_month_shop_category_avg_lag_1,item_cnt_month_shop_type_avg_lag_1,item_cnt_month_shop_subtype_avg_lag_1,item_cnt_month_item_city_avg_lag_1,delta_item_price_lag,delta_shop_month_revenue_lag_1
0,0,0,19,0.0,29,40,11,6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,0,27,0.0,29,19,5,12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,28,0.0,29,30,8,57,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,29,0.0,29,23,5,18,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0,32,6.0,29,40,11,6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
train_test.columns

Index(['date_block_num', 'shop_id', 'item_id', 'item_cnt_month', 'city_code',
       'item_category_id', 'type_code', 'subtype_code', 'item_cnt_month_lag_1',
       'item_cnt_month_lag_2', 'item_cnt_month_lag_3', 'item_cnt_month_lag_6',
       'item_cnt_month_lag_12', 'item_cnt_month_avg_lag_1',
       'item_cnt_month_item_avg_lag_1', 'item_cnt_month_item_avg_lag_2',
       'item_cnt_month_item_avg_lag_3', 'item_cnt_month_item_avg_lag_6',
       'item_cnt_month_item_avg_lag_12', 'item_cnt_month_shop_avg_lag_1',
       'item_cnt_month_shop_avg_lag_2', 'item_cnt_month_shop_avg_lag_3',
       'item_cnt_month_shop_avg_lag_6', 'item_cnt_month_shop_avg_lag_12',
       'item_cnt_month_category_avg_lag_1',
       'item_cnt_month_category_avg_lag_2',
       'item_cnt_month_category_avg_lag_3',
       'item_cnt_month_category_avg_lag_6',
       'item_cnt_month_category_avg_lag_12', 'item_cnt_month_type_avg_lag_1',
       'item_cnt_month_subtype_avg_lag_1', 'item_cnt_month_city_avg_lag_1',
       'item_cnt_month_shop_category_avg_lag_1',
       'item_cnt_month_shop_type_avg_lag_1',
       'item_cnt_month_shop_subtype_avg_lag_1',
       'item_cnt_month_item_city_avg_lag_1', 'delta_item_price_lag',
       'delta_shop_month_revenue_lag_1'],
      dtype='object')

In [6]:
len(train_test.columns)

38

In [9]:
train_test['item_shop_first_sale'] = train_test['date_block_num'] - train_test.groupby(['item_id', 'shop_id'])['date_block_num'].transform('min')
train_test['item_first_sale'] = train_test['date_block_num'] - train_test.groupby(['item_id'])['date_block_num'].transform('min')

In [10]:
train_test = train_test[train_test['date_block_num'] > 11]

In [20]:
def fill_na(df):
    for col in df.columns:
        if ('lag' in col) & (df[col].isnull().any()):
            df[col].fillna(0, inplace=True)
    return df

In [21]:
train_test = fill_na(train_test)

In [22]:
train_test.isnull().any()

date_block_num                            False
shop_id                                   False
item_id                                   False
item_cnt_month                            False
city_code                                 False
item_category_id                          False
type_code                                 False
subtype_code                              False
item_cnt_month_lag_1                      False
item_cnt_month_lag_2                      False
item_cnt_month_lag_3                      False
item_cnt_month_lag_6                      False
item_cnt_month_lag_12                     False
item_cnt_month_avg_lag_1                  False
item_cnt_month_item_avg_lag_1             False
item_cnt_month_item_avg_lag_2             False
item_cnt_month_item_avg_lag_3             False
item_cnt_month_item_avg_lag_6             False
item_cnt_month_item_avg_lag_12            False
item_cnt_month_shop_avg_lag_1             False
item_cnt_month_shop_avg_lag_2             False
item_cnt_month_shop_avg_lag_3             False
item_cnt_month_shop_avg_lag_6             False
item_cnt_month_shop_avg_lag_12            False
item_cnt_month_category_avg_lag_1         False
item_cnt_month_category_avg_lag_2         False
item_cnt_month_category_avg_lag_3         False
item_cnt_month_category_avg_lag_6         False
item_cnt_month_category_avg_lag_12        False
item_cnt_month_type_avg_lag_1             False
item_cnt_month_subtype_avg_lag_1          False
item_cnt_month_city_avg_lag_1             False
item_cnt_month_shop_category_avg_lag_1    False
item_cnt_month_shop_type_avg_lag_1        False
item_cnt_month_shop_subtype_avg_lag_1     False
item_cnt_month_item_city_avg_lag_1        False
delta_item_price_lag                      False
delta_shop_month_revenue_lag_1            False
item_shop_first_sale                      False
item_first_sale                           False
dtype: bool

In [24]:
train_test['date_block_num'].unique()

array([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
       29, 30, 31, 32, 33])

In [25]:
len(train_test['date_block_num'].unique())

22