In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
working_dir ='~/Project/pred-future-sales'
sales_train_file = pd.read_csv(working_dir + '/data/raw/sales_train.csv')
test_file = pd.read_csv(working_dir + '/data/raw/test.csv')
shops_file = pd.read_csv(working_dir + '/data/raw/shops.csv')
items = pd.read_csv(working_dir + '/data/raw/items.csv')
item_categories = pd.read_csv(working_dir + '/data/raw/item_categories.csv')
# sample_submission = pd.read_csv(working_dir + '/data/raw/sample_submission.csv')

In [16]:
sales_train_file.head(10)

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0
5  10.01.2013               0       25     2564      349.00           1.0
6  02.01.2013               0       25     2565      549.00           1.0
7  04.01.2013               0       25     2572      239.00           1.0
8  11.01.2013               0       25     2572      299.00           1.0
9  03.01.2013               0       25     2573      299.00           3.0

In [17]:
sales_train_file = sales_train_file.astype({'date': 'datetime64', 'date_block_num': 'int64', 'shop_id': 'int64', 
                         'item_id': 'int64', 'item_price': 'float64', 'item_cnt_day': 'float64'})

In [18]:
test_file.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [19]:
print('Number of row in test_file: {}'.format(test_file['ID'].nunique()))
print('Number of unique shops in test_file: {}'.format(test_file['shop_id'].nunique()))
print('Number of unique items in test_file: {}'.format(test_file['item_id'].nunique()))

Number of row in test_file: 214200
Number of unique shops in test_file: 42
Number of unique items in test_file: 5100

In [23]:
print('Number of unique shops in shop_file: {}'.format(shops_file['shop_id'].nunique()))
print('Number of unique items in item_file: {}'.format(items['item_id'].nunique()))
print('Number of unique item_category in item_category_file: {}'.format(item_categories['item_category_id'].nunique()))

Number of unique shops in shop_file: 60
Number of unique items in item_file: 22170
Number of unique item_category in item_category_file: 84

In [26]:
print('Number of unique shops sold within 35 month in sales_train_file: {}'.format(sales_train_file['shop_id'].nunique()))
print('Number of unique items sold within 35 month in sales_train_file: {}'.format(sales_train_file['item_id'].nunique()))

Number of unique shops sold within 35 month in sales_train_file: 60
Number of unique items sold within 35 month in sales_train_file: 21807

In [36]:
common_items = set(test_file['item_id'].values) & set(sales_train_file['item_id'])
common_shops = set(test_file['shop_id'].values) & set(sales_train_file['shop_id'])
new_items = set(test_file['item_id']).difference(common_items)
new_shops = set(test_file['shop_id']).difference(common_shops)
print('Number of new items in test_file: {}'.format(len(new_items)))
print('Number of new shops in test_file: {}'.format(len(new_shops)))

Number of new items in test_file: 363
Number of new shops in test_file: 0